<nav class="navbar navbar-expand-md navbar-dark bg-transparent global-nav ">
  <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="container app-nav">
    <div class="nav-masthead navbar-collapse collapse" id="navbarSupportedContent">

              <span class="navbar-nav  ">
                <%= nav_helper 'nav-link', 'span' %>
                <%= login_helper 'nav-link','span' %>
                <%= locales_changer 'nav-link','span' %>
                <%=link_fa_to('github', ' Git', "https://github.com/ajeffika")%>
              </span>
    </div>
  </div>
  </div>
</nav>