<h1 class="cover-heading">Witam na moim portfolio</h1>
<hr>
<div class="row">
     <div class="col-md-4">
       <%=image_tag 'https://placehold.it/300x400', width: 300, alt: 'profile image'%>
     </div>
  <div class="col-md-8">
    <div class="inner cover">

    <p class="lead">Ruby</p>
    </div>
  </div>
</div>



