<div class="app-container">
    <h1 class="cover-heading"><%= t('contact')%></h1>
  <hr>

<div class="row">
  <div class="col-md-6">
    <div class="inner cover">
      <h3>Ofiice Adress</h3>

      <p>Kraków, Rakowicka 51</p>

      <h3>Phone</h3>

      <p>506551610</p>



      <p><a href="mailto:jan.mistarz6767@gmail.com?subject=Portfolio Kontakt"><h3>Email</h3></a></p>
    </div>
  </div>
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.600308066956!2d19.
      95607161571776!3d50.07504657942525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165a
      e1c3cffdc7%3A0xef22db94dfcc37ac!2sTelekomunikacja+Polska+S.A%2C+Rakowicka+51%2C+31-510+Krak%C3%B3w!5e0!3
      m2!1spl!2spl!4v1547746844469" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  </div>



