<h1>Hi, <%=current_user.first_name %></h1>

<div class="inner cover">
  <h1 class="cover-heading">Witam, Nazywam sie Jan Mistarz</h1>
  <p class="lead">Możesz się ze mną skontaktować pod nr telefonu : 506551610 lub adresem E-mail: jan.mistarz6776fa@mf.com</p>
  <p class="lead">
  </p>
</div>



