<div class="app-container">
    <h1 class="cover-heading"><%= t('contact')%></h1>
  <hr>

<div class="row">
  <div class="col-md-12">
    <div class="inner cover">
      <p>
      <h3><%=link_to 'Linkedin', 'https://www.linkedin.com/in/jan-mistarz-632a17176/'  %></h3>
      </p>


      <p>
        <h3><%= link_to 'Email', "mailto:jan.mistarz6767@gmail.com?subject=Portfolio Kontakt"%></h3>
      </p>


    </div>
  </div>
</div>
</div>





