@import "bootstrap";
@import "font-awesome";
@import "gritter";

@font-face{
  font-family: 'Lato';
  src:font-url('Lato-Regular.ttf')

}
@font-face{
  font-family: 'Roboto Slab';
  src:font-url('RobotoSlab-Regular.ttf')

}

/*
 * Globals
 */

@media (min-width: 48em) {
  html>.container {
    font-size: 18px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #555;
}

body>.navbar
{
  text-align: center;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Roboto Slab', serif;

  font-weight: normal;
  color: #333;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
  box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
.nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-link + .nav-link {
  margin-left: 1rem;
}

.active {
  color: #fff;
  border-bottom-color: #fff;
}

@media only screen and (min-width: 62rem){

  .global-nav{
    padding-bottom:1em;
    padding-top:1.5em;
    margin:0 auto;
    width:68rem;

  }
  .pages-nav{
    padding-bottom:1em;
    padding-top:1.5em;
    margin:0 auto;
    width: 100%;
  }
  .app-nav span {
    white-space: nowrap;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

}
@media only screen and (min-width: 48rem) {

  .global-nav {
    margin: 0 auto;


  }
  .pages-nav {
    padding-bottom:1em;
    padding-top:1.5em;
    margin: 0 auto;
    width: 100%;


  }
  .app-nav span {

    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

}
@media only screen and (min-width: 62rem){

  .global-nav{
    padding-bottom:1em;
    padding-top:1.5em;
    margin:0 auto;
    width:68rem;

  }
  .pages-nav{
    padding-bottom:1em;
    padding-top:1.5em;
    margin:0 auto;
    width: 100%;
  }
  .app-nav span {
    white-space: nowrap;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

}

@media only screen and (min-width: 100rem){

  .global-nav{
    padding-bottom:1em;
    padding-top:1.5em;
    margin:0 auto;
    width:80rem;
    font-size: 18px;

  }
  .pages-nav{
    padding-bottom:1em;
    padding-top:1.5em;
    margin:0 auto;
    width: 100%;
  }
  .app-nav span {
    white-space: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
  }

}
.nav-masthead{
  justify-content: center;
}

/*
 * Blog name and description
 */

.blog-header {
  margin-top: 2rem;
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  margin-top: 20px;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
* Custom Syyles
 */
.social-links li a{
  font-size:2.5em;
}

.comment-card > .card{
  margin-top: 15px;
  padding: 2%;
}

.comment-attribution{
  font-size: .8em;
  text-align:right;
  font-style: italic;
}
.blogcrumb a{
  font-size: 1.25em;
  margin: 0 10px 0 10px;
}

.blog-sidebar-source{
  margin-top: 20px;
}